.sesion-container {
  display: flex;
  justify-content: flex-end;
}
.sesion-container > button {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 1px solid red;
  padding: 7px;
}
.sesion-container > button:hover {
  background-color: rgb(255, 47, 47);
  cursor: pointer;
}
